.color-picker-container {
    background-color: #ffffff;
    height: 100vh;
}

.color-picker-heading {
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 900;
}

.button {
    font-family: "Open Sans";
    font-size: 15px;
    width: 100px;
    height: 100px;
    border-width: 4px;
    border-color: black;
    border-radius: 22px;
    margin-bottom: 12px;
}

.button-1 {
    background-color: #e0e0e0;

}

.button-2 {
    background-color: #6fcf97;
}

.button-3 {
    background-color: #56ccf2;
}

.button-4 {
    background-color: #bb6bd9;
}

.selected-color-text {
    background-color: #222222;
    color: white;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: bold;
    border-radius: 10px;
    padding: 18px;
}

.selected-color-hex-code {
    color: #49ace9;

}

.color-picker-instruction {
    font-family: "Open Sans";
    font-size: 22px;
}